<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>luozhi_shopping</display-name>
  <welcome-file-list>
    <welcome-file>HomeServlet</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 全站编码 -->
  <filter>
    <filter-name>CharEncode</filter-name>
    <filter-class>com.lz.service.filter.CharEncode</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharEncode</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 后台过滤 -->
  <filter>
    <filter-name>LuoZhiBackFilter</filter-name>
    <filter-class>com.lz.service.filter.LuoZhiBackFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LuoZhiBackFilter</filter-name>
    <url-pattern>/backstage/*</url-pattern>
  </filter-mapping>
  <!-- 单态登录 -->
  <listener>
    <listener-class>com.lz.service.listener.SingletStateLoginListener</listener-class>
  </listener>
  <!-- 404 -->
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>

</web-app>