/*鍚庡彴*/
body{
	font-family: "寰蒋闆呴粦";
}
.back_left>ul{
	cursor: pointer;
}
.back_left>ul>li{
	line-height: 80px;
	font-size: 20px;
	padding-left: 40px;
}
.back_left>ul>li:hover{
	border-radius: 10px;
	background: #FFFFCC;
}
.back_right>div{
	display: none;
}
.back_right .nowclick{
	display: block;
}
/*璁㈠崟绠＄悊*/
/*澶撮儴鏄剧ず*/
#dingdan_title>li{
	float: left;
	cursor: pointer;
	font-size: 20px;
	margin: 20px;
}
#dingdan_control>div{
	display: none;
}
#dingdan_control .dingdan_show{
	display: block;
}
/*鏈彂璐у潡*/
#dingdan_noput>li{
	margin-top:10px;
	border-bottom: #F0F0F0 solid 1px;
}
#dingdan_noput>li>.liheadmsg{
	height: 80px;
}
#dingdan_noput>li>.liheadmsg>span{
	float: left;
}
#dingdan_noput>li>.liheadmsg>span>img{
	margin: 10px;
	width: 60px;
	height: 60px;
}
#dingdan_noput_name{
	width: 240px;
	margin-top: 20px;
	line-height:20px;
	text-align: center;
}
#dingdan_noput_addr{
	width: 100px;
	margin-top: 20px;
	text-align: center;
	
}
#dingdan_noput_num{
	width: 80px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_noput_color{
	width: 120px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_noput_btn{
	width: 60px;
	margin-top: -62px;
	/*padding-left: 30px;*/
	float:right;
	margin-right: -20px;
}
#dingdan_update_btn{
	width: 100px;
	margin-top: -62px;
	float:right;
	margin-right: 25px;
}

.editaddress{
	float:right;
	margin-right:170px;
	display: none;
}
.myaddress{
	float:right;
	margin-right:180px;
	display: block;
}

/*详细信息*/
.goodsdescri{
	width:780px;
	background-color:#fdfdff;
	padding:0 20px;
}



/*宸插彂璐у潡*/
#dingdan_put>li{
	margin-top:10px;
	border-bottom: #F0F0F0 solid 1px;
}
#dingdan_put>li>.liheadmsg{
	height: 80px;
}
#dingdan_put>li>.liheadmsg>span{
	float: left;
}
#dingdan_put>li>.liheadmsg>span>img{
	margin: 10px;
	width: 60px;
	height: 60px;
}
#dingdan_put_name{
	width: 240px;
	margin-right:20px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_put_addr{
	width: 100px;
	margin-top: 20px;
}
#dingdan_put_num{
	width: 80px;
	margin-top: 20px;
}
#dingdan_put_color{
	width: 120px;
	margin-top: 20px;
}

#dingdan_put_condition{
	width: 100px;
	text-align: center;
	margin-top: -62px;
	float:right;
}
/*鐢宠閫�璐�*/
#dingdan_waitback>li{
	margin-top:10px;
	border-bottom: #F0F0F0 solid 1px;
}
#dingdan_waitback>li>.liheadmsg{
	height: 80px;
}
#dingdan_waitback>li>.liheadmsg>span{
	float: left;
}
#dingdan_waitback>li>.liheadmsg>span>img{
	margin: 10px 0px 10px 10px;
	width: 60px;
	height: 60px;
}
#dingdan_waitback_name{
	width: 180px;
	margin-right:15px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_waitback_num{
	width: 40px;
	margin-top: 20px;
	line-height:40px;
}
#dingdan_waitback_result{
	width: 200px;
	margin-top: 20px;
	line-height:40px;
}
.dingdan_waitback_reason{
	width: 300px;
	text-align: center;
	margin-top: -62px;
	margin-right:-55px;
	float:right;
}
#dingdan_waitback_yes{
	margin-left: 5px;
	float:left;
}
#dingdan_waitback_no{
	margin-left: 5px;
	float:left;
}
#dingdan_waitback_no_result{
	line-height:20px;
	margin-left: 5px;
	width: 120px;
	float:left;
}
#dingdan_waitback_no_result>textarea{
	width: 120px;
	height: 80px;
	margin-top: -25px;
}
/*閫�娆炬垚鍔�*/
#dingdan_back>li{
	margin-top:10px;
	border-bottom: #F0F0F0 solid 1px;
}
#dingdan_back>li>.liheadmsg{
	height: 80px;
}
#dingdan_back>li>.liheadmsg>span{
	height:60px;
	float: left;
}
#dingdan_back>li>.liheadmsg>span>img{
	margin: 10px 20px;
	width: 60px;
	height: 60px;
}
#dingdan_back_name{
	width: 190px;
	margin-top: 20px;
	text-align: center;
	margin-right: 40px;
}
#dingdan_back_num{
	width: 30px;
	text-align: center;
	margin-top: 20px;
	line-height: 40px;
	margin-right: 40px;
}
#dingdan_back_result{
	width: 150px;
	line-height: 80px;
	margin-right: 20px;
}
#dingdan_back_yes{
	float:right;
	margin-top: -60px;
	padding-top: 10px;
	width: 100px;		
}




