/*鎴戠殑璁㈠崟*/
* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #333;
}

li {
	list-style: none;
}

img {
	border: none;
	vertical-align: bottom;
}

.m-bread {
	height: 81px;
	margin-bottom: 15px;
	border-bottom: 1px solid #333;
}

.m-bread .block {
	padding: 30px 0 15px 0;
	font-size: 20px;
	font-weight: 600;
	line-height: 36px;
}

.m-bread .pointer {
	font-size: 18px;
	color: #999;
}

.block>span>a {
	color: #333;
}

.pointer i {
	display: inline-block;
	width: 16px;
	height: 26px;
	margin: 0 4px 0 8px;
}

.sd-order {
	width: 200px;
}

.sd {
	float: left;
}

ul.m-snav-order {
	display: block;
	width: 200px;
	list-style-type: disc;
}

.m-snav li.z-sel {
	background-color: rgba(0, 0, 0, 0.04);
}

.sd-order>ul>li {
	display: inline-block;
	width: 200px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	padding-inline-start: 40px;
}

.m-snav a {
	color: #999;
}

.m-snav li.z-sel a {
	font-weight: bold;
	color: #333;
}

.m-snav li a:hover {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

.mn-order {
	width: 870px;
	margin-left: 229px;
}

.n-myorder .m-tab>ul {
	height: 50px;
	line-height: 50px;
}

.n-myorder .m-tab>ul>li {
	float: left;
}

.n-myorder .m-tab>ul>li {
	font-size: 18px;
	margin-right: 35px;
}
.n-myorder .m-tab>ul>li a{
	color:#999;
}
.n-myorder .m-tab>ul>li a:hover {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

.m-tab>div{
	display: none;
	width:870px ;
	top: 0px;
	left: 0px;
	font-size: 14px;
	color: #333;
}
.m-tab>div.current{
	width:870px ;
	display: block;
}



/*没有订单*/
.n-myorder .empty .icn {
	display: block;
	width: 200px;
	height: 200px;
	margin: 75px auto 20px auto;
}
.n-myorder .empty .icn {
	background: url(../img/order.jpg) no-repeat;
	background-size: 200px auto;
	opacity: 0.3;
}
.nogoodorder {
	text-align: center;
	font-size: 20px;
	color: #666;
}


.config{
	float:right;
	margin-right: 40px;
}



/*未支付*/
#dingdan_nopay>li{
	margin-top:10px;
	border-bottom: #F0F0F0 solid 1px;
}
#dingdan_nopay>li>.liheadmsg{
	height: 80px;
}
#dingdan_nopay>li>.liheadmsg>.wjmsg{
		height: 80px;
}
#dingdan_nopay>li>.liheadmsg>.wjmsg>span{
		float: left;
}
#dingdan_nopay>li>.liheadmsg>span{
	float: left;
}

#dingdan_nopay>li>.liheadmsg>span>a>img{
	margin: 10px;
	width: 60px;
	height: 60px;
	z-index: 9999;
}
#dingdan_nopay_name{
	width: 240px;
	margin-top: 20px;
	line-height:20px;
	text-align: center;
}
#dingdan_nopay_addr{
	width: 100px;
	margin-top: 20px;
	text-align: center;
	
}
#dingdan_nopay_num{
	width: 80px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_nopay_color{
	width: 120px;
	margin-top: 20px;
	text-align: center;
}

#dingdan_nopay_btn{
	margin-top: -62px;
	float:right;
}
#dingdan_cancel_btn{
	margin-top: -62px;
	float:right;
	margin-right:100px;
}




/*待发货*/
#dingdan_pay>li{
	margin-top:10px;
	border-bottom: #F0F0F0 solid 1px;
}
#dingdan_pay>li>.liheadmsg{
	height: 80px;
}
#dingdan_pay>li>.liheadmsg>.wjmsg{
		height: 80px;
}
#dingdan_pay>li>.liheadmsg>.wjmsg>span{
		float: left;
}
#dingdan_pay>li>.liheadmsg>span{
	float: left;
}
#dingdan_pay>li>.liheadmsg>span>a>img{
	margin: 10px;
	width: 60px;
	height: 60px;
}
#dingdan_pay_name{
	width: 240px;
	margin-top: 20px;
	line-height:20px;
	text-align: center;
}
#dingdan_pay_addr{
	width: 100px;
	margin-top: 20px;
	text-align: center;
	
}
#dingdan_pay_num{
	width: 80px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_pay_color{
	width: 95px;
	margin-top: 20px;
	text-align: center;
}
.wjmsg>lable{
	float: right;
}
#reason{
	display:none;
	margin-top: -63px;
	margin-right: 100px;
}

#dingdan_pay_btn{
	margin-top: -62px;
	padding-left: 30px;
	float:right;
}
#dingdan_noca_btn{
	margin-top: -62px;
	float:right;
	margin-right:-30px;
	display: none;
}
#dingdan_sure_btn{
	margin-top: -62px;
	margin-right: 30px;
	float:right;
	display: none;
}


/*待收货*/
#dingdan_send>li{
	margin-top:10px;
	border-bottom: #F0F0F0 solid 1px;
}

#dingdan_send>li>.liheadmsg{
	height: 80px;
}
#dingdan_send>li>.liheadmsg>span{
	float: left;
}
#dingdan_send>li>.liheadmsg>span>a>img{
	margin: 10px;
	width: 60px;
	height: 60px;
}
#dingdan_send_name{
	width: 240px;
	margin-top: 20px;
	line-height:20px;
	text-align: center;
}
#dingdan_send_addr{
	width: 100px;
	margin-top: 20px;
	text-align: center;
	
}
#dingdan_send_num{
	width: 80px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_send_color{
	width: 120px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_send_btn{
	width: 100px;
	margin-top: -62px;
	padding-left: 30px;
	float:right;
}



/*全部*/
#dingdan_all>li{
	margin-top:10px;
	border-bottom: #F0F0F0 solid 1px;
}
#dingdan_all>li>.liheadmsg{
	height: 80px;
}
#dingdan_all>li>.liheadmsg>span{
	float: left;
}
#dingdan_all>li>.liheadmsg>span>a>img{
	margin: 10px;
	width: 60px;
	height: 60px;
}
#dingdan_all_name{
	width: 240px;
	margin-top: 20px;
	line-height:20px;
	text-align: center;
}
#dingdan_all_addr{
	width: 100px;
	margin-top: 20px;
	text-align: center;
	
}
#dingdan_all_num{
	width: 80px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_all_color{
	width: 120px;
	margin-top: 20px;
	text-align: center;
}
#dingdan_all_btn{
	width: 100px;
	margin-top: -62px;
	padding-left: 30px;
	float:right;
}



/*旁边回到顶部*/
.zTi-rigth {
	width: 62px;
	height: 300px;
	border: 1px solid #000000;
	position: fixed;
	right: 1%;
	top: 34%;
	overflow: hidden;
	text-align: center;
	z-index: 20;
	background: white;
}

.zTi-rigth>ul>li {
	height: 45px;
	font-size: 12px;
	border-bottom: 1px solid #DDDDDD;
	margin-top: 15px;
	color: #888888;
}

.zTi-rigth>ul>li>a {
	text-decoration: none;
	color: #888888;
}

.ding-cat {
	display: block;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	background: url(../img/totop.png) 0 -72px;
}

.kefu {
	display: block;
	width: 20px;
	height: 20px;
	margin-left: 20px;
	background: url(../img/totop.png) 0 -96px;
}

.totop {
	display: none;
	height: 30px;
	background: url(../img/totop.png) -70px 0px;
	transition: all 0.5s;
}

.totop:hover {
	background: url(../img/totop.png) -130px 0px;
}

.totop-span {
	display: block;
	height: 30px;
}




/*支付块*/
.pay_order_sure{
	width: 500px;
	height: 300px;
	border-radius: 30px;
	background: #E1E2E3;
	position: absolute;
	top: 20%;
	left: 30%;
}
.pay_order_sure>h1{
	font-size: 30px;
	text-align: center;
	margin-top: 40px;
	color: #3C7A38;
}
.pay_order_sure>p{
	font-size: 15px;
	text-align: center;
	margin-top: 40px;
}
.pay_order_sure>div{
	text-align: center;
	line-height:50px;
	font-weight: bold;
}
#cardnum{
	margin-top: 20px;
}
#cardpass{
	margin-top: 20px;
}
#paynext{
	margin-top: 20px;
	width: 150px;
	margin-left: 140px;
	margin-right:10px;
}
#paynow{
	margin-top: 20px;
	width: 150px;
	margin-left: 140px;
	margin-right:10px;
}
#cancel_buy1{
	margin-top: 20px;
	width: 50px;
	margin-left: 10px;
	margin-right:10px;
	opacity: 0.8;
}
#cancel_buy2{
	margin-top: 20px;
	width: 50px;
	margin-left: 10px;
	margin-right:10px;
	opacity: 0.8;
}



