
.upper-div{
    width:1140px;
	height:180px;
	position:absolute;
	background-color:white;
	

}
.upper-list{
	position:absolute;
	top:50%;
	left:50%;
	float:left;
	
	
}
.upper-list li{
	float:left;
	width:220px;
    position:relative;
    margin-left:-100px;
    margin-bottom:200px;
	
}
.upper{
	float:left;
	width:30px;
	height:30px;
	border-radius:100%;
	border:1px solid rgb(204,204,204);
	background-color:rgb(204,204,204);
	text-align:center;
	vertical-align:middle;

	
}
.upper-p{
	color:#FFFFFF;
	font-size:14px;
	font-weight:bolder;
	line-height: 30px;
}
.tip{
	font-size:14px;
	color:#A5A5A5;
}
.tiankong{
	width:1140px;
	height:1000px;
	background-color:white;
	margin-top:200px;
	padding-left:40px;
}
.tiankong span{
	color:#4C4C4C;
	font-size:16px;
	font-family:"Microsoft Yahei";
	margin-right:8px;
	
}
.getpwd{
	width:262px;
	height:52px;
	color:#4C4C4C;
	font-size:16px;
	font-family:"Microsoft Yahei";
     background-color: #FBFBFF;
     border:1px solid rgb(204,204,204);
}
.tiankong input{
	width:264px;
	height:36px;
}
.determine{
	width:120px;
	height:35px;
	background-color:#2894FF;
	border:1px solid rgb(204,204,204);
	color:#FFFFFF;
	font-size:16px;
	font-family:"Microsoft Yahei"
	
}
.mail{
	margin-top:100px;
	margin-left:10px;
}
.m-label{
	 color:red;
	 margin-right:-142px;
	  margin-left:5px;
	  display:none;
}
.pwd{
	margin-top:30px;
	margin-left:54px;
}
.enterpwd{
	margin-top:40px;
}
.ensure{
	margin-top:20px;
}
.setting{
	width:1000px;
	height:220px;
	margin-top:200px;
	padding-top:20px;
	margin-left:10px;	
}
.setnew{
	margin-top:40px;
	padding-right:45px;
	margin-left:0px;
}
.setnew-label{
	color:red;
	margin-right:-210px;
	margin-left:10px;
	display:none;
}
.setagain{
	margin-top:40px;
	padding-right:55px;
}
.setagain-label{
	color:red;
	margin-right:-138px;
	margin-left:10px;
	display:none;	
}
.setensure{
	margin-top:20px;
	margin-left:40px;
}
.setnew-span{
	margin-right:20px;
	color:#4C4C4C;
	font-size:16px;
	font-family:"Microsoft Yahei";
}
.setagain-span{
	margin-right:20px;
    color:#4C4C4C;
	font-size:16px;
	font-family:"Microsoft Yahei";
}
.setnew-input{
	width:264px;
	height:36px;
}
.setagain-input{
	width:264px;
	height:36px;
}
.settip{
	 font-size:16px;
	 font-family:Microsoft Yahei;
	 color:#4C4C4C;
	 font-weight:bolder;
	 margin-top:10px;"
}
.setsuccess{

    margin-top:300px;
    margin-left:60px;
}